/* ------------------------------------------
======---------------------------------======
	Post single
======---------------------------------======
------------------------------------------ */

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

@layer views {
  .post-single {
    time {
      color: var(--c-black);
      font-weight: 600;

      + h1 {
        margin-block-start: 0;
      }
    }
  }

  //end of layer
}
