@use "../support/mixins" as *;

// ---------------------------------------------
// ======---------------------------------======
//  Variables
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Font imports
// ====---------------====
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/rubik-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/rubik-700.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

// ====---------------====
// Base Variables
// ====---------------====
:root {
  // ====---------------====
  // Type
  // ====---------------====
  --fs-base: clamp(1.2rem, 1rem + 0.75vw, 1.6rem);
  --fs-md: clamp(1.3rem, 1.15rem + 0.75vw, 1.7rem);
  --lh-base: 1.5;
  --font-main: "Rubik", sans-serif;

  // ====---------------====
  // Spacing
  // ====---------------====
  --sp-sm: 1rem;
  --sp-md: 2rem;
  --sp-lg: 3rem;
  --sp-xl: 4rem;
  --sp-md-xl: clamp(var(--sp-lg), 2.6rem + 1.8vw, var(--sp-xl));
  --sp-para: calc(var(--sp-sm) * 1.5);

  // ====---------------====
  // Widths
  // ====---------------====
  --w-sm: 45rem;
  --w-md: 65rem;
  --w-lg: 75rem;
  --w-wrapper: calc(100% - var(--sp-md-xl));

  // ====---------------====
  // Radius
  // ====---------------====
  --rad-1: 1rem;
  --rad-2: 2rem;
  --rad-3: 3rem;

  // ====---------------====
  // Speeds
  // ====---------------====
  --speed-fast: 0.1s;
  --speed-main: 0.2s;
}

// ====---------------====
// Light theme
// ====---------------====
:root {
  --clr-bg: 38 22% 95%;
  --clr-bg-alt: 220 39% 90%;

  --clr-main: 0 100% 67%;
  --clr-alt-1: 199 100% 20%;
  --clr-alt-2: 43 100% 65%;

  --clr-link: 199 100% 40%;
  --clr-link-hover: var(--clr-alt-1);
  --clr-text-base: 199 100% 15%;
  --clr-text-reverse: 220 39% 95%;

  // ===------ Ui nuggets ------===
  --clr-border-1: 220 30% 35%;
  --clr-border-2: 220 30% 35% / 0.2;
  --clr-code-bg: 220 39% 10%;
  --clr-code-title: var(--clr-alt-2);
}

// ====---------------====
// Dark theme
// ====---------------====
@mixin darkProps() {
  --clr-bg: 220 39% 15%;
  --clr-bg-alt: 220 39% 10%;

  --clr-main: 0 100% 67%;
  --clr-alt-1: 44 100% 88%;
  --clr-alt-2: 43 100% 65%;

  --clr-link: 199 100% 65%;
  --clr-link-hover: var(--clr-alt-2);
  --clr-text-base: 220 39% 95%;
  --clr-text-reverse: var(--clr-bg-alt);

  // ===------ Ui nuggets ------===
  --clr-border-1: 220 39% 10%;
  --clr-border-2: 220 39% 10% / 0.5;
  --clr-code-bg: var(--clr-bg-alt);
  --clr-code-title: var(--clr-alt-1) / 0.8;
}

@include darkTheme {
  @include darkProps();
}
