// ====---------------====
// Variables
// ====---------------====

:root {
  // ====---------------====
  // Colors
  // ====---------------====
  --clr-bg: 220 39% 15%;
  --clr-dark: 220 39% 10%;
  --clr-main: 0 100% 67%;
  --clr-light: 44 100% 88%;
  --clr-bright: 43 100% 65%;
  --clr-link: 199 100% 65%;
  --clr-text-base: 220 39% 95%;

  // ====---------------====
  // Type
  // ====---------------====
  --fs-base: clamp(1.2rem, 2vw, 1.6rem);
  --lh-base: 1.5;
  --font-main: "Rubik", sans-serif;

  // ====---------------====
  // Spacing
  // ====---------------====
  --sp-sm: 1rem;
  --sp-md: 2rem;
  --sp-lg: 3rem;
  --sp-para: calc(var(--sp-sm) * 1.5);

  // ====---------------====
  // Widths
  // ====---------------====
  --w-sm: 45rem;
  --w-md: 65rem;
  --w-lg: 75rem;

  // ====---------------====
  // Speeds
  // ====---------------====
  --speed-main: 0.2s;
}
