// ====---------------====
// Variables
// ====---------------====

:root {
  // ====---------------====
  // Colors
  // ====---------------====
  --clr-bg: 220 39% 15%;
  --clr-main: 0 100% 67%;
  --clr-light: 44 100% 93%;
  --clr-text-base: 220 39% 95%;

  // ====---------------====
  // Type
  // ====---------------====
  --fs-base: 1.2rem;
  --lh-base: 1.5;
  --font-main: "Libre Baskerville", serif;
  --font-accent: "Open Sans", sans-serif;

  // ====---------------====
  // Spacing
  // ====---------------====
  --sp-base: 2rem;
}
