---
layout: layouts/base.njk
ogType: page
---
<div class="wrapper section section--sidebar">
  <div class="content">
    {{ content | safe }}
  </div>
  <aside class="sidebar" aria-labelledby="latest-posts-side">
    <h2 id="latest-posts-side">Latest posts</h2>
    <div class="articles-wrapper">
      {%- for post in collections.post | reverse -%}
        {% if loop.index0 < 3 %}
        <article class="article">
          <a href={{ post.data.permalink }}>
            <time>{{ post.date | postDate }}</time>
            <h3>
              {{ post.data.title }}
            </h3>
          </a>
        </article>
        {% endif %}
      {%- endfor -%}
    </div>
  </aside>
</div>