/* ------------------------------------------
======---------------------------------======
	Collection cards
======---------------------------------======
------------------------------------------ */

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

@layer blocks {
  .content-grid--collection {
    grid-template-columns: 1fr;

    margin-block-start: var(--space-m);
  }

  .collection-sidebar {
    padding-block: 0 var(--space-s);

    * + h2 {
      margin-block-start: var(--space-l);
    }

    summary {
      color: var(--c-text-alt);
      font-size: var(--step-3);
      font-weight: 700;

      cursor: pointer;
    }

    h2 {
      font-size: var(--step-2);
    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-l);

      padding: var(--space-xs) var(--space-m);

      background: hsl(from var(--c-grey-d) h s l / 0.1);

      > div {
        width: 100%;
        max-width: 300px;
      }
    }
  }

  .collection-stats {
    width: 100%;

    th,
    td {
      padding-block: var(--space-2xs);
    }

    th {
      width: 30%;
    }

    td {
      width: 70%;

      position: relative;

      &.graph {
        --border-size: 0.4rem;
        --offset: var(--border-size);

        padding-inline-start: calc(
          var(--border-size) * 2.2
        );

        > span {
          position: relative;
          z-index: 5;
        }

        &::before,
        &::after {
          content: "";

          height: calc(100% - (var(--border-size) * 2));

          position: absolute;
          z-index: 1;

          inset-inline-start: var(--border-size);
        }

        &::before {
          width: calc(100% - var(--border-size));

          inset-block-start: var(--offset);

          background: var(--c-blue-d);
        }

        &::after {
          width: calc(
            var(--percentage) - var(--border-size)
          );

          inset-block-start: var(--offset);

          background: var(--c-yellow);
        }
      }
    }
  }

  .collection-tops {
    width: 100%;

    th,
    td {
      width: 100%;

      &:last-child {
        min-width: 2.5rem;
      }
    }
  }

  [data-theme="dark"] {
    .collection-stats {
      td {
        &.graph {
          color: var(--c-blue-d);
        }
      }
    }
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(180px, 1fr)
    );
    gap: var(--space-l) var(--space-m);

    &__card {
      display: grid;
      gap: var(--space-2xs);
      align-items: start;
      grid-template-rows: auto 1fr;

      &__image {
        img {
          width: 100%;
          object-fit: cover;
          aspect-ratio: 2 / 3;
        }
      }

      &__content {
        h2 {
          font-size: var(--step-0);
          line-height: 1.2;
        }

        h3 {
          font-size: var(--step--1);
          line-height: 1.1;
        }

        th,
        td {
          font-size: var(--step--1);
        }
      }
    }
  }
}
