/* ------------------------------------------
======---------------------------------======
	Collection cards
======---------------------------------======
------------------------------------------ */

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

@layer blocks {
  .content-grid--collection {
    margin-block-start: var(--space-m);

    @container content-grid (min-width: 56rem) {
      grid-template-columns: 3fr 1fr;
    }
  }

  .collection-sidebar {
    @container content-grid (min-width: 56rem) {
      grid-column: 2;
      grid-row: 1;
    }

    * + h2 {
      margin-block-start: var(--space-l);
    }

    summary {
      color: var(--c-text-alt);
      font-size: var(--step-3);
      font-weight: 700;

      cursor: pointer;
    }

    h2 {
      font-size: var(--step-2);
    }
  }

  .collection-stats {
    width: 100%;

    th,
    td {
      padding-block: var(--space-2xs);
    }

    th {
      width: 30%;
    }

    td {
      width: 70%;

      position: relative;

      &.graph {
        --border-size: 0.4rem;
        --offset: var(--border-size);

        padding-inline-start: calc(
          var(--border-size) * 2.2
        );

        &::before,
        &::after {
          content: "";

          height: calc(100% - (var(--border-size) * 2));

          position: absolute;
          z-index: -1;

          inset-inline-start: var(--border-size);
        }

        &::before {
          width: calc(100% - var(--border-size));

          inset-block-start: var(--offset);

          background: var(--c-blue-d);
        }

        &::after {
          width: calc(
            var(--percentage) - var(--border-size)
          );

          inset-block-start: var(--offset);

          background: var(--c-yellow);
        }
      }
    }
  }

  .collection-tops {
    width: 100%;

    th,
    td {
      width: 100%;

      &:last-child {
        min-width: 2.5rem;
      }
    }
  }

  [data-theme="dark"] {
    .collection-stats {
      td {
        &.graph {
          color: var(--c-blue-d);
        }
      }
    }
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(18rem, 1fr)
    );
    gap: var(--space-2xs);

    @container content-grid (min-width: 56rem) {
      grid-column: 1;
      grid-row: 1;
    }

    &__card {
      $self: &;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto;

      cursor: pointer;

      &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 2 / 3;

        grid-column: 1;
        grid-row: 1 / -1;
        object-fit: cover;
        object-position: center;
      }

      &__date {
        grid-column: 1;
        grid-row: 1;
        align-self: start;

        padding: var(--space-3xs) var(--space-xs);

        background: var(--c-blue-d);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        color: var(--c-white);
        font-weight: 700;
      }

      &__content {
        grid-column: 1;
        grid-row: 1 / -1;
        display: grid;
        grid-template-rows: subgrid;
        gap: 0.8em;
        padding: var(--space-m);

        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        background: color-mix(
          in oklab,
          var(--c-blue-d) 100%,
          transparent 10%
        );

        color: var(--c-white);

        h2,
        h3 {
          line-height: 1.2;
        }

        h2 {
          grid-column: 1;
          grid-row: 2;
          color: var(--c-yellow);
          font-size: var(--step-2);
        }

        h3 {
          grid-column: 1;
          grid-row: 1;
          display: grid;
          gap: 0.5rem;

          font-size: var(--step-0);
        }

        table {
          grid-column: 1;
          grid-row: 4;
        }
      }

      &.active {
        #{ $self }__content {
          opacity: 1;
        }

        #{$self}__date {
          opacity: 0;
        }
      }
    }
  }
}
