/* ------------------------------------------
======---------------------------------======
	Post special
======---------------------------------======
------------------------------------------ */

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

@layer blocks {
  /* ====---------------====
    Example HTML Content
  =======------------==== */
  .html-example {
    padding: var(--space-m);

    background: var(--c-code-bg);
    border: 0.5rem solid
      color-mix(in oklab, var(--c-code-bg), var(--c-white) 20%);
    border-radius: 0.2rem;
  }

  [data-theme="dark"] {
    .html-example {
      border-color: color-mix(
        in oklab,
        var(--c-code-bg),
        var(--c-white) 3%
      );
    }
  }

  /* ====---------------====
    series block to hold links for related posts
  =======------------==== */
  .series-block {
    padding: var(--space-m);

    background: var(--c-grey-l);
    border-radius: 0.3rem;
  }

  [data-theme="dark"] {
    .series-block {
      background-color: color-mix(
        in oklab,
        var(--c-grey-xd),
        var(--c-white) 4%
      );
    }
  }

  //end of layer
}
