/* ------------------------------------------
======---------------------------------======
	Post feed item
======---------------------------------======
------------------------------------------ */

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

@layer blocks {
  .post-item {
    a {
      text-decoration: none;

      color: var(--clr-text);

      h3 {
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        text-underline-offset: 0.2em;

        transition: all 0.1s ease-in-out;
      }

      time {
        color: var(--c-black);
        font-weight: 600;
      }

      p {
        margin-block-start: 0.7em;
      }

      &:hover,
      &:focus {
        h3 {
          color: var(--c-secondary);
          text-decoration-thickness: 0.2em;
          text-underline-offset: 0.1em;
        }
      }
    }
  }

  //end of layer
}
