/* ------------------------------------------
======---------------------------------======
	Post special
======---------------------------------======
------------------------------------------ */

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

@layer blocks {
  /* ====---------------====
    Example HTML Content
  =======------------==== */
  .html-example {
    padding: var(--space-m);

    background: var(--c-code-bg);
    border: 0.5rem solid
      color-mix(in oklab, var(--c-code-bg), var(--c-white) 20%);
    border-radius: 0.2rem;
  }

  [data-theme="dark"] {
    .html-example {
      border-color: color-mix(
        in oklab,
        var(--c-code-bg),
        var(--c-white) 3%
      );
    }
  }

  /* ====---------------====
    series block to hold links for related posts
  =======------------==== */
  .series-block {
    padding: var(--space-m);

    background: var(--c-grey-l);
    border-radius: 0.3rem;
  }

  [data-theme="dark"] {
    .series-block {
      background-color: color-mix(
        in oklab,
        var(--c-grey-xd),
        var(--c-white) 4%
      );
    }
  }

  /* ====---------------====
    Tags
  =======------------==== */
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 0.5rem;

    margin: 0;
    padding: 0;

    list-style: none;

    li {
      padding: 0 1em;
      background-color: var(--c-grey-d);
      border-radius: 2em;

      color: var(--c-white);
      font-size: var(--step--2);
      line-height: 2;
    }
  }

  //end of layer
}
