/* ------------------------------------------
======---------------------------------======
	Sidebar
======---------------------------------======
------------------------------------------ */

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

@layer blocks {
  .sidebar-home-wrapper {
    container: sidebar-home / inline-size;
  }

  .sidebar-home {
    --gap: 1em;

    display: grid;
    align-items: start;
    gap: var(--gap) var(--space-m);

    .rounded-image {
      max-width: 300px;
    }

    h1 {
      font-size: var(--step-3);
    }

    h2 {
      font-size: var(--step-2);
    }

    h3 {
      font-size: var(--step-1);
      line-height: 1.3;
    }

    &__extras {
      display: grid;
      gap: var(--gap);
    }

    @container sidebar-home (min-width: 38rem) {
      grid-template-columns: 20rem 1fr;

      h1 {
        grid-column: 1 / -1;
      }

      .rounded-image {
        max-width: 100%;
      }
    }
  }

  //end of layer
}
