---
import Layout from "../../layouts/Base.astro"
import PostsLarge from "../../components/PostsLarge.astro"
---

<Layout title="Blog">
  <section id="blog" aria-labelledby="title-blog" class="wrapper section">
    <h1 id="title-blog">Ramblings of me</h1>

    <PostsLarge />
  </section>
</Layout>
