    <footer id="contact" class="site-foot grid-wrap">
      <h2 class="section-title">Contact</h2>
      <div class="grid-1-3">
        <ul class="social-wrap">
          <li class="social-icns">
            <a class="github" href="https://github.com/craigwfox">Github</a>
          </li>
          <li class="social-icns">
            <a class="facebook" href="https://www.facebook.com/craigwfox">Facebook</a>
          </li>
          <li class="social-icns">
            <a class="linkedin" href="http://www.linkedin.com/in/craigwfox">LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="grid-1-4">
        <ul class="contact">
          <li>Craig Fox</li>
          <li>Front End Developer</li>
          <li><a href="mailto:info@craigwfox.com">Email Me</a></li>
        </ul>
      </div>
      <p class="credits">&copy;2014 craigwfox</p>
    </footer>
    <script src="/assets/js/site.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29983202-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>