    <footer id="contact" class="site-foot">
      <h2 class="section-title">Contact</h2>

        <ul class="social-wrap">
          <li class="social-icns">
            <a class="github" href="https://github.com/craigwfox">Github</a>
          </li>
          <li class="social-icns">
            <a class="linkedin" href="http://www.linkedin.com/in/craigwfox">LinkedIn</a>
          </li>
        </ul>

        <ul class="contact">
          <li>&copy;2015 Craig Fox</li>
          <li>Front End Developer</li>
          <li><a href="mailto:info@craigwfox.com">Email Me</a></li>
        </ul>
      
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-29983202-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
