<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} // Craig Fox</title>
  <link rel="stylesheet" as="style" href="{{ '/css/styles.css' }}" />
</head>
<body>
  <header class="site-header">
    <a href="/" class="site-logo">
      {% image
        "./src/images/craig-logo-red.svg",
        "Craig Fox Web Designer and Front-End Developer",
        "(min-width: 30em) 50vw, 100vw"
      %}
    </a>
    <nav aria-label="Site navigation">
      <a href="/">Home</a>
      <a href="/posts">Blog</a>
    </nav>
  </header>

  <main id="maincontent" class="main">
    {{ content | safe }}
  </main>

  <footer id="footer" class="site-footer" aria-label="Site footer">
    <h2>Find me</h2>

    <ul>
      <li>
        <a href="https://github.com/craigwfox">Github</a>
      </li>
      <li>
        <a href="https://codepen.io/craigwfox">Codepen</a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/craigwfox">LinkedIn</a>
      </li>
      <li>
        <a href="mailto:info@craigwfox.com" target="_blank" rel="noreferrer">
          Email
        </a>
      </li>
    </ul>

    <p>
      © 2022 Craig Fox
      {% image
        "./src/images/fox-icon.svg",
        "Orange fox head illustration",
        "25"
      %}
      Front-end developer
    </p>
  </footer>

</body>
</html>