---
ogType: website
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - {{ metadata.title }}</title>
  <meta name="description" content="{{ description }}">

  <link rel="icon" href="{{ '/favicon.svg' | url }}">

  {# Manifest / PWA #}
  <meta name="theme-color" content="#172135">
  <link rel="mask-icon" href="{{ '/favicon.svg' | url }}" color="#172135">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">

  {# Open graph tags #}
  {% if permalink %}
    <link rel="canonical" href="{{ 'https://craigwfox.com' + permalink }}" />
  {% else %}
    <link rel="canonical" href="{{ metadata.url + page.url }}" />
  {% endif %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="{{ ogType }}" />
  <meta property="og:description" content="{{ description }}">
  {% if permalink %}
    <meta property="og:url" content="{{ 'https://craigwfox.com' + permalink }}" />
  {% else %}
    <meta property="og:url" content="{{ metadata.url + page.url }}" />
  {% endif %}
  {% if ogImage %}
    <meta property="og:image" content="{{ site.baseUrl + ogImage }}" />
    <meta name="twitter:image:alt" content="{{ ogImageAlt }}">
  {% else %}
    <meta property="og:image" content="{{ site.baseUrl + 'img/twitter/open-graph-base.png' }}" />
    <meta name="twitter:image:alt" content="Craig Fox, front-end developer, maker, and geek">
  {% endif %}

  {# Feed / sitemap #}
  <link rel="alternate" href="{{ metadata.feed.url | url }}" type="application/atom+xml" title="{{ metadata.title }}" />
  <link rel="sitemap" href="{{ metadata.sitemap.url | url }}" type="application/atom+xml" title="{{ metadata.title }}" />

  <link rel="stylesheet" href="{{ '/css/styles.css' }}" />

  <script defer data-domain="craigwfox.com" src="https://plausible.io/js/plausible.js"></script>
</head>
<body data-theme="dark">
  <a href="#maincontent" class="skip-link">Skip to main content</a>

  <header class="site-header">
    <a href="/" class="site-logo">
      {% image
        "./src/images/craig-logo-red.svg",
        "Craig Fox UX Engineer",
        "(min-width: 18em) 50vw, 100vw",
        "logo"
      %}
    </a>

    <nav aria-label="Site navigation">
      <a href="/" {{ 'aria-current=page' if '/' === page.url }}>Home</a>
      <a href="/posts" {{ 'aria-current=page' if '/posts' in page.url }}>Blog</a>
      <a href="/about" {{ 'aria-current=page' if '/about' in page.url }}>About</a>
      <a href="/uses" {{ 'aria-current=page' if '/uses' in page.url }}>Uses</a>
    </nav>

    <div class="site-toggles">
      <button is="theme-switcher"
        modes="light, dark"
        dataAttr="data-theme"
        current="light"
        aria-label="Change to dark mode"
        aria-live="polite">
        <svg class="light" aria-hidden="true" width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_75_186)"><path d="M15 21.9322C18.4518 21.9322 21.25 19.134 21.25 15.6822C21.25 12.2304 18.4518 9.43217 15 9.43217C11.5482 9.43217 8.75 12.2304 8.75 15.6822C8.75 19.134 11.5482 21.9322 15 21.9322Z" stroke="currentColor" stroke-width="1.66667" stroke-linecap="square" stroke-linejoin="round"/><path d="M23 7.68217L24.75 5.93217M15 1.93217V4.43217V1.93217ZM15 26.9322V29.4322V26.9322ZM5.25 5.93217L7 7.68217L5.25 5.93217ZM23 23.6822L24.75 25.4322L23 23.6822ZM1.25 15.6822H3.75H1.25ZM26.25 15.6822H28.75H26.25ZM5.25 25.4322L7 23.6822L5.25 25.4322Z" stroke="#FFEFC2" stroke-width="1.66667" stroke-linecap="square" stroke-linejoin="round"/></g><defs><clipPath id="clip0_75_186"><rect width="30" height="30" fill="white" transform="translate(0 0.682171)"/></clipPath></defs></svg>
        <svg class="dark" aria-hidden="true" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.25 15.9875C26.0534 18.1153 25.2548 20.143 23.9478 21.8335C22.6408 23.524 20.8794 24.8072 18.8696 25.5332C16.8599 26.2591 14.685 26.3977 12.5994 25.9326C10.5138 25.4676 8.60374 24.4182 7.09278 22.9072C5.58182 21.3963 4.53242 19.4862 4.06738 17.4006C3.60234 15.315 3.74089 13.1401 4.46682 11.1304C5.19275 9.12064 6.47604 7.35921 8.16651 6.05219C9.85699 4.74517 11.8847 3.94663 14.0125 3.75C12.7668 5.43533 12.1673 7.51181 12.3232 9.60177C12.479 11.6917 13.3798 13.6563 14.8618 15.1382C16.3437 16.6202 18.3083 17.521 20.3982 17.6768C22.4882 17.8327 24.5647 17.2332 26.25 15.9875V15.9875Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </button>
    </div>
  </header>

  <main id="maincontent" class="main">
    {{ content | safe }}
  </main>

  <footer id="footer" class="site-footer" aria-label="Site footer">
    <h2>Find me</h2>

    <ul>
      <li>
        <a href="/feed/atom.xml">RSS</a>
      </li>
      <li>
        <a href="https://github.com/craigwfox">Github</a>
      </li>
      <li>
        <a href="https://codepen.io/craigwfox">Codepen</a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/craigwfox">LinkedIn</a>
      </li>
      <li>
        <a href="mailto:info@craigwfox.com" target="_blank" rel="noreferrer">
          Email
        </a>
      </li>
    </ul>

    <p>
      © {% year %} Craig Fox
      {% image
        "./src/images/fox-icon.svg",
        "Orange fox head illustration",
        "25"
      %}
      Front-end developer
    </p>
  </footer>

  <script src="/js/main.min.js"></script>
</body>
</html>