

          @media (max-width:1000px) {
            .portfolio-item {
              width: 100%;
            }
            .pi-feat {
              width: 50%;
            }
            .pi-details {
              width: 50%;
            }
          }

          @media (max-width:650px) {
            .pi-feat {
              width: 100%;

              padding-bottom: 1em;

              img {
                margin-left: auto;
                margin-right: auto;
              }
            }
            .pi-details {
              width: 100%;
              max-width: 400px;

              margin-left: auto;
              margin-right: auto;
            }
          }