/* ---------
	Variables
--------- */
	/* ----- Colors ----- */
		$headline:#555;
		$text:#333;
		$links:#93b2be;

    $dark-blue:#0f2329;
    $cream:#eeedea;

	/* ----- Misc ----- */
		$head-font:'Open Sans', sans-serif;
		$text-font:'Libre Baskerville', serif;

		$pageWide:1000px;