/* ---------
	Variables
--------- */
	/* ----- Colors ----- */
		$headline:#47616e;
		$text:#0f2329;
		$links:#47616e;

    $dark-blue:#0f2329;
    $cream:#eeedea;

	/* ----- Misc ----- */
		$head-font:'Open Sans', sans-serif;
		$text-font:'Libre Baskerville', serif;

    $min-width:800px;
    $max-width:1000px;