---
import Layout from "../layouts/PageWithSidebar.astro"
---

<Layout title="About Me" description="A bit about Craig Fox UX engineer">
  <h1>404: Not Found</h1>
  <p>You just hit a page that doesn't exist... have a picture of my cats.</p>

  <img
    class="image-border"
    src="/images/kitty-apples-box.webp"
    alt="Kitty and Apples the most adorable cats in the world cuddling in a box together."
  />
</Layout>
