---
import Layout from "../layouts/PageWithSidebar.astro"
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <h1>Uses</h1>

  <p>Here is a list of the tools I use to build websites.</p>

  <ul>
    <li><a href="#software">Software</a></li>
    <li><a href="#hardware">Hardware</a></li>
  </ul>

  <h2 id="software">Software</h2>

  <h3>Dev environment</h3>

  <ul>
    <li>
      Visual Studio Code
      <ul>
        <li>
          <strong>Theme:</strong>
          <a
            href="https://marketplace.visualstudio.com/items?itemName=Equinusocio.vsc-community-material-theme"
            target="_blank"
            rel="noopener">Community Material Theme Ocean</a
          >
        </li>
      </ul>
    </li>
    <li>Warp (Terminal Mac)</li>
    <li>Node / npm / pnpm</li>
    <li>Local By Flywheel</li>
    <li>Powershell (Terminal Windows)</li>
    <li>Firefox</li>
  </ul>

  <h3>Design</h3>

  <ul>
    <li>Figma</li>
    <li>Adobe Illustrator</li>
    <li>Adobe Photoshop</li>
    <li>Adobe InDesign</li>
  </ul>

  <h3>JS Stuff</h3>

  <ul>
    <li>Vue</li>
    <li>Svelte / SvelteKit</li>
  </ul>

  <h3>Misc apps</h3>

  <ul>
    <li>Asana (Task / Project tracking)</li>
    <li>Obsidian (Note taking)</li>
    <li>Reeder (RSS feeds)</li>
  </ul>

  <h2 id="hardware">Hardware</h2>

  <h3>2021 MacBook Pro</h3>

  <ul>
    <li>14in M1 MacBook Pro with 16gb of RAM and a 512gb HD</li>
    <li>
      I connect it to two monitors using thunderbolt to DisplayPort adaptors.
    </li>
  </ul>

  <h3>Windows Desktop</h3>

  <p>This is my custom built gaming PC that also get's used for work.</p>

  <ul>
    <li>Ryzen 3600</li>
    <li>GTX 2070</li>
    <li>32gb of RAM</li>
    <li>1tb NVME SSD</li>
    <li>2 1tb HDDs</li>
  </ul>

  <p>
    <a
      href="https://pcpartpicker.com/user/Fiserne/saved/#view=Tmswzy"
      target="_blank"
      rel="noopener">Full parts list</a
    >
  </p>

  <h3>Monitors</h3>

  <ul>
    <li>BenQ BL2420PT 24in 2560x1440</li>
    <li>2x HP E233 23in 1920x1080</li>
    <li>Asus VH238H 23in 1920x1080</li>
  </ul>

  <h3>Peripherals</h3>

  <ul>
    <li>Keyboard: Leopold FC 660m with Cherry MX Blues</li>
    <li>Mouse: Logitech G700 (Work / Games)</li>
    <li>Mouse: Logitech G600 (MMO Games)</li>
  </ul>
</Layout>
