/* ---------
	Footer
--------- */
	.site-foot {

		margin: 2em auto 0;
		padding: .875em 0;

    background: $dark-blue;

		text-align: center;

    p {
      padding: 0;
      
      color: $cream;
    }
	}