/* ---------
	Footer
--------- */
	.site-foot {
		margin: 2em auto 0;
		padding: .875em 0;

    background: $dark-blue;

		text-align: center;

    .section-title {
      color: #94b3bf;
    }


    @media (max-width:900px) {
      .grid-1-2 {
        width: 100%;
        
        display: block;

        text-align: center;
      }
      .social-wrap {
        text-align: center;

        .social-icns {
          margin: 0 .375em;
          padding: 0;
        }
      }
      .contact {
        padding: 1em 0 0;

        li {
          display: inline-block;

          padding: 0 .75em;
        }
      }
    }
	}
  
  .contact {
    list-style-type: none;

    li {
      color: $cream;
    }
    a {
      color: $cream;

      &:hover, &:focus {
        color:darken($cream,20%);
      }
    }
  }

  .social-wrap {
    margin: 0;
    padding: 0;

    text-align: right;
  }
    .social-icns {
      display: inline-block;

      padding: 0 0 0 .375em;

      text-align: left;

      a {
        &:hover {
          opacity: .8;
        }
      }
    }

  .credits {
    padding: .675em 0 0;

    color: $cream;
  }