/* ---------
  Header
--------- */
  .site-head {
    width: 100%;
    min-width: $min-width;
    max-width: $max-width;

    margin: 0 auto 1.875em;

    text-align: center;
  }
    .site-logo-wrap {
      width: 100%;

      display: block;

      padding: .875em 0;

      background: $dark-blue;
    }
    .site-logo {
      width: 90%;
      max-width: 400px;

      display: block;

      margin: 0 auto;
    }

  /* ---- Site Nav ---- */
    .site-nav {
      margin-top: .475em;
      padding: .275em 0;

      background: $dark-blue;

      a {
        display: inline-block;

        padding:.25em 1.5em;

        font:normal 700 1.175rem/1em $head-font;
      }
    }