/* ---------
  Header
--------- */
  .site-head {
    width: 100%;

    margin: 0 auto;

    text-align: center;
  }
    .site-logo-wrap {
      width: 100%;

      display: block;

      padding: .875em 0;

      background: $dark-blue;
    }
    .site-logo {
      width: 90%;
      max-width: 400px;

      display: block;

      margin: 0 auto;
    }

  /* ---- Site Nav ---- */
    .site-nav {
      margin-top: .475em;
      padding: .275em 0;

      background: $dark-blue;

      ul {
        margin: 0 auto;
        padding: 0;
      }
      li {
        display: inline-block;
      }
      a {
        display:block;

        padding:.25em 1.5em;

        font:normal 700 1.175rem/1em $head-font;
      }

      @media (max-width: 400px) {
        a {
          padding: .25em 1em;
        }
      }

      @media (max-width: 350px) {
        a {
          padding: .25em .5em;
        }
      }
    }