/* ---------
	Header
--------- */
	.site-head {
		width: 100%;

		margin: 0 auto 1.875em;
		padding: .5em 0;

		background: $dark-blue;

		border-bottom: 1px solid lighten($text,40%);

		text-align: center;
	}
		.site-logo {
			max-width: 90%;

			display: block;

			margin: 0 auto;
		}

	/* ---- Site Nav ---- */
		.site-nav {
			padding: 1.375em 0 0;
		}