/* ---------
  Page
--------- */



/* ------------------
  Site Sidebar
------------------ */



/* ------------------
  Home Page
------------------ */
  .section-title {
    padding: 0 0 .675em;

    font-size: 2.475em;
    font-family: $text-font;
  }

  /* Intro */
    .intro {
      max-width: 90%;

      p {
        font-size: 1.675rem;
      }

      .grid-col {
        vertical-align: middle;

        text-align: center;
      }

      @media (max-width: 825px) {
        .grid-1-2 {
          width: auto;

          display: block;

          margin: 0 auto;
        }
      }
    }

  /* About */
    .about {
      padding: 2em 5%;

      background: $dark-blue;

      p {
        max-width: 1000px;

        margin: 0 auto;
        color: $cream;
        font-size: 1.17rem;

        &:last-child {
          padding-bottom: 0;
        }
      }

      @media (max-width:900px) {
        .grid-1-2 {
          width: 100%;
          
          display: block;
        }
        .about-image {
          padding-top: 1em;
          
          text-align: center;
        }
      }

      .section-title {
        color: #94b3bf;
      }
    }

  /* Portfolio */
    .portfolio {}
      .portfolio-item {
        @media (max-width:900px) {
          width: 45%;
        }
        @media (max-width:460px) {
          width: 100%;
        }
      }
        .pi-title {
          font-size: 1rem;

          @media (max-width:460px) {
            font-size: .775rem;
          }
        }
        .pi-url {
          a {
            color: darken($links,25%);

            &:hover {

              color: $dark-blue;
              text-decoration: underline;
            }
          }
        }
        .pi-img {}




