/* ---------
  Page
--------- */



/* ------------------
  Site Sidebar
------------------ */



/* ------------------
  Home Page
------------------ */
  .section-title {
    padding: 0 0 .675em;

    font-size: 2.475em;
    font-family: $text-font;
  }

  /* Intro */
    .intro {
      @include wrapperEl(90%, 1250px);

      p {
        font-size: 1.675rem;
      }
    }

  /* About */
    .about {
      padding: 2em 5%;

      background: $dark-blue;

      p {
        max-width: 1000px;

        margin: 0 auto;
        color: $cream;
        font-size: 1.17rem;

        &:last-child {
          padding-bottom: 0;
        }
      }

      .section-title {
        color: #94b3bf;
      }
    }

  /* Portfolio */
    .portfolio {
      max-width: 1500px;
      width: 95%;

      display: flex;
      align-items:top;
      flex-wrap:wrap;

      margin-left: auto;
      margin-right: auto;

      .section-title {
        width: 100%;
      }
    }
      .portfolio-item {
        width: 50%;

        display: flex;
        align-items:top;
        flex-wrap:wrap;

        padding-bottom: 2em;
      }

        .pi-feat {
          width: 40%;
        }
          .pi-img {
            display: block;
            
            box-shadow: 0 0 2px rgba(0,0,0,.35);
          }


        .pi-details {
          width: 60%;
        }
          .pi-title {
            padding-top: 0;
            padding-bottom: .675em;

            font-size: 1.575rem;
            line-height: 1em;
          }
          .pi-url {
            display: inline-block;

            padding-bottom: 0;

            border-bottom: 2px solid $links;

            font-size: 1.175rem;
            line-height: 1.275em;

            a {
              color: $links;
              text-decoration: none;

              &:hover {
                border-bottom: 2px solid $dark-blue;

                color: $dark-blue;
                // text-decoration: underline;
              }
            }
          }

          .portfolio-role {
            li {
              color: $links;
              font-size: 1.375rem;
              line-height: 1.275em;
            }
          }





