---
import { Image } from "astro:assets"
import foxIcon from "../images/fox-icon.svg"

const today = new Date()

const { scripts = [] } = Astro.props
---

<footer
	id="site-footer"
	class="site-footer"
	aria-label="Site footer"
>
	<ul>
		<li>
			<a href="/rss.xml">RSS</a>
		</li>
		<li>
			<a
				rel="me"
				href="https://github.com/craigwfox"
				target="_blank"
				rel="noreferrer"
			>
				Github
			</a>
		</li>
		<li>
			<a
				rel="me"
				href="https://codepen.io/craigwfox"
				target="_blank"
				rel="noreferrer"
			>
				Codepen
			</a>
		</li>
		<li>
			<a
				rel="me"
				href="https://bsky.app/profile/fiserne.bsky.social"
				target="_blank"
				rel="noreferrer"
			>
				Bluesky
			</a>
		</li>
		<li>
			<a
				rel="me"
				href="http://www.linkedin.com/in/craigwfox"
				target="_blank"
				rel="noreferrer"
			>
				LinkedIn
			</a>
		</li>
		<li>
			<a
				href="mailto:info@craigwfox.com"
				target="_blank"
				rel="noreferrer"
			>
				Email
			</a>
		</li>
	</ul>

	<p>
		&copy; {today.getFullYear()} Craig Fox
		<Image src={foxIcon} alt="" width={25} height={25} />
		Front-end developer
	</p>
</footer>

<script
	src="../../node_modules/simple-theme-switcher/theme-switcher.js"
></script>

<script src="../js/prism.js"></script>

{scripts.map(scriptTag => <script src={scriptTag} async />)}
