---
import { getCollection } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"

const { count = 3 } = Astro.props

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<div class="small-feed">
  {
    posts.slice(0, count).map(post => (
      <article class="post-item post-item--sm">
        <a href={`/blog/${post.slug}/`}>
          <FormattedDate date={post.data.pubDate} />
          <h3>{post.data.title}</h3>
        </a>
      </article>
    ))
  }
</div>
