@use "../support/mixins" as *;

// ---------------------------------------------
// ======---------------------------------======
//  Base layout styles
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Content Wrappers
// ====---------------====
html,
body {
  height: 100%;
}

body {
  background: hsl(var(--clr-bg));

  color: hsl(var(--clr-text-base));
  font: 400 var(--fs-base) / 1.5 var(--font-main);
}

// ====---------------====
// Main
// ====---------------====
.main {
}

// ====---------------====
// Sections
// ====---------------====
.section {
  padding: 0 0 var(--sp-md);

  border-bottom: 0.5rem solid hsl(var(--clr-border-1));

  &:last-child {
    padding-bottom: 0;

    border-bottom: 0;
  }

  h1 {
    color: hsl(var(--clr-alt-1));
  }

  h2 {
    color: hsl(var(--clr-alt-1));
  }

  p + h2 {
    margin-top: var(--sp-lg);
  }
}

.section--about {
  h1 {
    margin-bottom: var(--sp-sm);
  }
}

// ====---------------====
// Grids
// ====---------------====
.home-grid {
  max-width: var(--w-lg);
  width: var(--w-wrapper);

  display: grid;
  grid-template-columns: 100%;
  gap: var(--sp-md);

  margin: 0 auto;
}

// ====---------------====
// Image grid
// ====---------------====
.image-grid {
  display: grid;
  gap: var(--sp-md);

  @include mqMed {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  margin-top: var(--sp-md);

  picture {
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }

    &:nth-child(1) {
      @include mqSmol {
        grid-area: 1 / 1 / 2 / 2;
      }
    }

    &:nth-child(2) {
      @include mqSmol {
        grid-area: 2 / 1 / 3 / 2;
      }
    }

    &:nth-child(3) {
      object-fit: contain;
      @include mqSmol {
        grid-area: 1 / 2 / 3 / 3;
      }
    }
  }
}

// ====---------------====
// Home posts
// ====---------------====
.articles-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  gap: var(--sp-md);

  margin: 1rem 0 2rem;
}

@keyframes borderPulse {
  0% {
    left: calc(var(--border-size-h) * -1);
  }

  100% {
    left: calc(150%);
  }
}

.article {
  --border-size-h: 0.7rem;
  --border-size-v: 0.7rem;

  display: grid;

  background: hsl(var(--clr-bg-alt));
  border-radius: 0 var(--rad-3) 0 0;

  a {
    display: grid;

    overflow: hidden;

    position: relative;

    padding: var(--sp-sm) var(--sp-sm) calc(var(--sp-sm) + var(--border-size-h));

    text-decoration: none;

    * {
      position: relative;
      z-index: 10;
    }

    &::before {
      content: "";

      display: block;

      height: var(--border-size-v);

      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;

      border-bottom: var(--border-size-v) solid hsl(var(--clr-link-hover));
    }

    &::after {
      content: "";

      width: calc(var(--border-size-h) * 3);
      height: var(--border-size-v);

      position: absolute;
      z-index: 5;
      left: calc(calc(var(--border-size-h) * 3) * -1);
      bottom: -0.1rem;

      background: linear-gradient(
        45deg,
        hsl(var(--clr-alt-2)) 30%,
        hsl(var(--clr-text-base) / 0.7),
        hsl(var(--clr-alt-2)) 70%
      );
    }

    &::before,
    &::after {
      transition: all var(--speed-fast) ease-in-out;
    }

    &:hover,
    &:focus {
      --border-size-v: 1.2rem;

      color: hsl(var(--clr-link-hover));

      &::before,
      &::after {
        height: var(--border-size-v);
      }

      &::after {
        animation: borderPulse calc(var(--speed-main) * 1.8) ease-in-out;
        left: calc(100% + 0.7rem);
      }
    }
  }

  time {
    color: hsl(var(--clr-text-base));
  }

  h3 {
    color: currentColor;
    font-size: var(--fs-md);
    line-height: 1.8;
    text-decoration: underline 0.2rem;
    text-underline-offset: 0.6rem;
  }

  p {
    margin-bottom: 0;

    color: hsl(var(--clr-text-base));
  }
}
