/* ---------
	Footer
--------- */
	.site-foot {
		margin: 2em auto 0;
		padding: .875em 0;

    background: $dark-blue;

		text-align: center;

    .section-title {
      color: #94b3bf;
    }

	}
  
  .contact {
    padding: 1em 0 0;

    list-style-type: none;

    li {
      display: inline-block;
      vertical-align: middle;

      color: $cream;

      &:after {
        content: "/";

        display: inline-block;
        vertical-align: middle;

        margin-right: .475em;
        padding-left: .875em;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    a {
      color: $cream;

      &:hover, &:focus {
        color:darken($cream,20%);
      }
    }
  }

  .social-wrap {
    margin: 0;
    padding: 0;

    text-align: center;
  }
    .social-icns {
      display: inline-block;

      padding: 0 0 0 .375em;

      text-align: left;

      a {
        &:hover {
          opacity: .8;
        }
      }
    }

  .credits {
    padding: .675em 0 0;

    color: $cream;
  }