// ---------------------------------------------
// ======---------------------------------======
//  Site header
// ======---------------------------------======
// ---------------------------------------------
.site-header {
  max-width: var(--w-lg);
  width: calc(100% - var(--sp-md));

  display: grid;
  place-items: center;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "gap logo toggles" "gap nav toggles";
  gap: calc(var(--sp-md) / 3);

  padding: var(--sp-md) var(--sp-sm) var(--sp-sm);
  margin: 0 auto var(--sp-sm);

  border-bottom: 0.5rem solid hsl(var(--clr-main));

  @include mqSmol {
    grid-template-columns: auto 1fr auto;
    place-items: center start;
    gap: var(--sp-md);
  }

  svg {
    width: 100%;
    max-width: 18rem;
    height: auto;

    object-fit: contain;
  }
}

.site-logo {
  grid-area: logo;

  border-bottom: 0;

  transition: all var(--speed-main) ease-in-out;

  &:hover,
  &:focus {
    transform: scale(90%);
  }
}

.site-header nav {
  grid-area: nav;
  display: flex;
  place-content: center;
  gap: var(--sp-md);

  a {
    padding: 0 0.5rem;

    border-bottom: 0.5rem solid hsl(var(--link-clr));

    text-decoration: none;

    &[aria-current="page"] {
      --link-clr: var(--clr-link) / 0.6;
    }
  }
}

.site-toggles {
  grid-area: toggles;

  justify-self: flex-end;
  align-self: flex-start;
  display: flex;
  gap: 0.7rem;
}

button[is="theme-switcher"] {
  --ts-btn: hsl(var(--clr-link-hover));
  --ts-btn-hover: hsl(var(--clr-link));

  @include mqLight {
    --ts-btn: hsl(var(--clr-main));
    --ts-btn-hover: hsl(var(--clr-text-base));
  }

  width: 2rem;

  display: grid;
  place-items: center;

  position: relative;
  padding: 0;

  background: none;
  border: 0;
  border-radius: 0.5rem;

  transition: all 0.2s ease-in-out;

  cursor: pointer;
  color: var(--ts-btn);

  svg {
    width: 100%;
    height: auto;

    object-fit: contain;

    stroke: var(--ts-btn);

    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    svg {
      stroke: var(--ts-btn-hover);
    }
  }
}

// ====---------------====
// Skip content link
// ====---------------====
.skip-link {
  width: 1px;
  height: 1px;

  overflow: hidden;
  position: absolute;

  margin: -1px;
  padding: 1rem 2rem;

  background-color: hsl(var(--clr-bg-alt));
  border: 0.3rem solid hsl(var(--clr-alt-2));
  clip: rect(0 0 0 0);

  color: hsl(var(--clr-text-base));
  white-space: nowrap;
  text-decoration: none;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:focus {
    width: auto;
    height: auto;

    overflow: visible;
    position: absolute;
    z-index: 1;
    left: 2rem;
    top: 2rem;

    margin: 0;

    clip: auto;
  }

  &:focus:hover {
    background: hsl(var(--clr-bg));
  }
}
