@use "../support/mixins" as *;

// ---------------------------------------------
// ======---------------------------------======
//  Site header
// ======---------------------------------======
// ---------------------------------------------
.site-header {
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo toggle" "nav nav";
  gap: 1rem 2rem;

  padding: var(--sp-sm) var(--wrapper-wide) var(--sp-md);
  margin: 0 var(--sp-sm) var(--sp-md);

  border-bottom: 0.5rem solid hsl(var(--clr-main));

  @include mqSmol {
    grid-template-columns: auto 1fr 2rem;
    grid-template-rows: auto;
    grid-template-areas: "logo nav toggle";
    align-items: center;
    justify-content: start;
  }

  img,
  svg {
    width: 100%;
    max-width: 18rem;
    height: auto;

    object-fit: contain;
  }
}

.site-logo {
  grid-area: logo;

  border-bottom: 0;

  transition: all var(--speed-main) ease-in-out;

  &:hover,
  &:focus {
    transform: scale(90%);
  }
}

.site-header nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  gap: var(--sp-sm);

  a {
    margin: 0 0.5rem;

    color: hsl(var(--clr-alt-1));
    font-size: var(--fs-md);
    text-decoration: underline;
    text-underline-offset: 0.7rem;
    text-decoration-thickness: 0.3rem;
    text-decoration-color: hsl(var(--link-clr));

    &[aria-current="page"] {
      --link-clr: var(--clr-link) / 0.5;
      opacity: 0.7;
    }

    &:hover,
    &:focus {
      text-underline-offset: 0.5rem;
      text-decoration-thickness: 0.5rem;
    }
  }
}

.site-toggles {
  grid-area: toggle;

  align-self: center;
  display: flex;
  gap: 0.7rem;
}

button[is="theme-switcher"] {
  --ts-btn: hsl(var(--clr-link));
  --ts-btn-hover: hsl(var(--clr-link-hover));

  width: 2rem;

  display: grid;
  place-items: center;

  position: relative;
  padding: 0;

  background: none;
  border: 0;
  border-radius: 0.5rem;

  transition: all 0.2s ease-in-out;

  cursor: pointer;
  color: var(--ts-btn);

  svg {
    width: 100%;
    height: auto;

    object-fit: contain;

    stroke: currentColor;

    transition: all 0.2s ease-in-out;

    &.light {
      display: none;
    }
  }

  &:hover,
  &:focus {
    color: var(--ts-btn-hover);

    svg {
      stroke: currentColor;
      transform: scale(1.2);
    }
  }
}

// dark styles
@include darkTheme {
  button[is="theme-switcher"] {
    --ts-btn: hsl(var(--clr-alt-1));
    --ts-btn-hover: hsl(var(--clr-link-hover));

    svg {
      &.light {
        display: block;
      }

      &.dark {
        display: none;
      }
    }
  }
}

// ====---------------====
// Skip content link
// ====---------------====
.skip-link {
  width: 1px;
  height: 1px;

  overflow: hidden;
  position: absolute;

  margin: -1px;
  padding: 1rem 2rem;

  background-color: hsl(var(--clr-bg-alt));
  border: 0.3rem solid hsl(var(--clr-alt-2));
  clip: rect(0 0 0 0);

  color: hsl(var(--clr-text-base));
  white-space: nowrap;
  text-decoration: none;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:focus {
    width: auto;
    height: auto;

    overflow: visible;
    position: absolute;
    z-index: 1;
    left: 2rem;
    top: 2rem;

    margin: 0;

    clip: auto;
  }

  &:focus:hover {
    background: hsl(var(--clr-bg));
  }
}
