// ---------------------------------------------
// ======---------------------------------======
//  Posts
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Post feed
// ====---------------====

.post-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: var(--sp-md) var(--sp-sm);
}

.post {
  display: grid;
  place-items: start;
  grid-template-rows: auto auto 1fr;
  gap: 0.5rem;

  padding: var(--sp-sm) var(--sp-sm) var(--sp-md);

  background: hsl(var(--clr-bg-alt) / 0.3);

  h2 {
    margin-bottom: 0;

    font-size: clamp(1.5rem, 2vw, 1.7rem);
  }

  p {
    margin-bottom: 0;
  }

  a {
    --link-clr: var(--clr-alt-2);

    &:hover,
    &:focus {
      --link-clr: var(--clr-link);
    }
  }
}

// ====---------------====
// Post single styles
// ====---------------====
.post-note {
  margin-top: calc(var(--sp-sm) * 0.5);
  margin-bottom: var(--sp-para);

  color: hsl(var(--clr-text-base) / 0.8);
  font-style: italic;
}

// ====---------------====
// Post single styles
// ====---------------====
.section--post {
  iframe + p {
    margin-top: 0;
  }
}
