// ---------------------------------------------
// ======---------------------------------======
//  Posts
// ======---------------------------------======
// ---------------------------------------------

.post-note {
  margin-top: calc(var(--sp-sm) * 0.5);
  margin-bottom: var(--sp-para);

  font-style: italic;
}
