@use "../support/mixins" as *;

// ---------------------------------------------
// ======---------------------------------======
//  Posts
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Articles wrapper
// ====---------------====
@keyframes borderPulse {
  0% {
    left: calc(var(--border-size-h) * -1);
  }

  100% {
    left: calc(150%);
  }
}

.articles-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--sp-md);

  margin: 1rem 0 2rem;
}

.article {
  --border-size-h: 0.7rem;
  --border-size-v: 0.7rem;

  display: grid;

  background: hsl(var(--clr-bg-alt));
  border-radius: 0 var(--rad-3) 0 0;

  a {
    min-width: 320px;

    display: grid;
    grid-template-rows: auto auto 1fr;
    align-items: start;

    overflow: hidden;

    position: relative;

    padding: var(--sp-sm) var(--sp-sm) calc(var(--sp-sm) + var(--border-size-h));

    text-decoration: none;

    * {
      position: relative;
      z-index: 10;
    }

    &::before {
      content: "";

      display: block;

      height: var(--border-size-v);

      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;

      border-bottom: var(--border-size-v) solid hsl(var(--clr-link-hover));

      transition: all var(--speed-fast) ease-in-out;
    }

    &:hover,
    &:focus {
      --border-size-v: 1.2rem;

      color: hsl(var(--clr-link-hover));

      &::before {
        height: var(--border-size-v);
      }
    }
  }

  time {
    color: hsl(var(--clr-text-base));
  }

  h3 {
    color: currentColor;
    font-size: var(--fs-md);
    line-height: 1.8;
    text-decoration: underline 0.2rem;
    text-underline-offset: 0.6rem;
  }

  p {
    margin-bottom: 0;

    color: hsl(var(--clr-text-base));
  }
}

.articles-wrapper--lg {
  .article {
    &:first-child {
      --border-size-v: 1rem;

      grid-column: 1 / -1;

      h3 {
        font-size: var(--fs-h4);
      }

      a {
        padding: var(--sp-md) var(--sp-md)
          calc(var(--sp-md) + var(--border-size-h));

        &:hover,
        &:focus {
          --border-size-v: 1.5rem;
        }
      }
    }
  }
}

// ====---------------====
// Post single styles
// ====---------------====
.post-note {
  margin-top: calc(var(--sp-sm) * 0.5);
  margin-bottom: var(--sp-para);

  color: hsl(var(--clr-text-base) / 0.8);
  font-style: italic;
}

// ====---------------====
// Post single styles
// ====---------------====
.section--post {
  h2 {
    margin-top: var(--sp-lg);

    text-decoration: hsl(var(--clr-alt-2) / 0.5) underline 0.4rem;
    text-underline-offset: 0.3rem;
  }

  iframe {
    max-width: 90%;

    margin: 0.7rem 0 var(--sp-md);
  }

  iframe + p {
    margin-top: 0;
  }

  pre {
    max-width: 90%;
  }
}

.post-image {
  max-width: 40rem;

  border: 0.3rem solid hsl(var(--clr-bg-alt));

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.header-anchor,
.header-anchor:visited {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: hsl(var(--clr-link));
  }
}

// ====---------------====
// Series block
// ====---------------====
.series-block {
  margin-top: var(--sp-lg);
  padding: var(--sp-sm) var(--sp-md) var(--sp-md);

  background-color: hsl(var(--clr-bg-alt));

  h2 {
    margin-top: 0;
  }
}
