@use "../support/mixins" as *;

// ---------------------------------------------
// ======---------------------------------======
//  Type - Misc
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Links
// ====---------------====
a,
a:visited {
  --link-clr: var(--clr-link);

  cursor: pointer;
  color: hsl(var(--link-clr));
  line-height: 1.8;
  text-decoration: underline 0.2rem;
  text-underline-offset: 0.6rem;

  transition: all var(--speed-main) ease;

  &:hover,
  &:focus {
    --link-clr: var(--clr-link-hover);
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.4rem;
  }
}

@keyframes btnAnimation {
  0% {
    right: 100%;
  }

  100% {
    right: -100%;
  }
}

.btn,
.btn:visited {
  --link-clr: var(--clr-text-reverse);

  overflow: hidden;

  position: relative;
  display: inline-grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  padding: 0 0.5rem;

  border-radius: 3rem;
  background: hsl(var(--clr-link));
  transform: scale(1);

  font-size: clamp(0.8rem, 5vw, 1rem);
  font-weight: 700;
  line-height: 2;
  text-decoration: none;

  &::before,
  &::after {
    content: "";

    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;

    pointer-events: none;

    background: hsl(var(--clr-alt-2));

    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
  }

  &:hover,
  &:focus {
    --link-clr: var(--clr-bg-alt);

    transform: scale(1.1);

    &::before {
      animation: btnAnimation var(--speed-main) ease-in-out;
      right: -100%;
    }
  }
}

// ====---------------====
// Paragraphs
// ====---------------====
p {
  margin-bottom: var(--sp-para);
}

.disclaimer {
  margin-top: var(--sp-sm);

  color: hsl(var(--clr-text-base) / 0.8);
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-style: italic;
}

// ====---------------====
// Title header with button
// ====---------------====

.title-button {
  display: flex;
  align-items: center;

  @include mqSmol {
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 0;
  }

  .btn {
    margin-left: 2rem;
  }
}
