// ---------------------------------------------
// ======---------------------------------======
//  Type - Misc
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Links
// ====---------------====
a {
  --link-clr: var(--clr-link);

  cursor: pointer;
  color: hsl(var(--link-clr));
  text-decoration: underline 0.2rem;
  text-underline-offset: 0.4rem;

  transition: all var(--speed-main) ease;

  &:hover,
  &:focus {
    --link-clr: var(--clr-bright);
  }
}

// ====---------------====
// Paragraphs
// ====---------------====
p {
  margin-bottom: var(--sp-para);
}
