// ---------------------------------------------
// ======---------------------------------======
//  Type - Misc
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Links
// ====---------------====
a {
  --link-clr: var(--clr-main);

  cursor: pointer;
  color: hsl(var(--link-clr));

  &:hover,
  &:focus {
    --link-clr: var(--clr-light);
  }
}

// ====---------------====
// Paragraphs
// ====---------------====
p {
  margin-bottom: 1.5rem;
}
