<div id="important-example-one">
  <p>This should be green.</p>
</div>
<style>
  #important-example-one p {
    color: red;
  }

  #important-example-one p {
    color: green !important;
  }

  #important-example-one p {
    color: blue;
  }
</style>
