/* ------------------------------------------
======---------------------------------======
  Typography
======---------------------------------======
------------------------------------------ */
@layer composition {
  /* ====---------------====
    Headings
  =======------------==== */

  /* ====---------------====
    Links
  =======------------==== */
  a,
  a:visited {
    --link-clr: var(--clr-link);

    cursor: pointer;
    color: hsl(var(--link-clr));
    line-height: 1.8;
    text-decoration: underline;

    transition: all var(--speed-main) ease;

    &:hover,
    &:focus {
      --link-clr: var(--clr-link-hover);
    }
  }

  /* ====---------------====
    Paragraphs
  =======------------==== */
}
