/* ------------------------------------------
======---------------------------------======
  Typography
======---------------------------------======
------------------------------------------ */
@layer composition {
  /* ====---------------====
    Headings
  =======------------==== */

  /* ====---------------====
    Links
  =======------------==== */
  a,
  a:visited {
    cursor: pointer;
    color: var(--c-link);
    line-height: 1.8;
    text-decoration: underline;

    transition: all var(--speed-main) ease;

    &:hover,
    &:focus {
      color: var(--c-link-hover);
    }
  }

  /* ====---------------====
    Headings
  =======------------==== */
  h1 {
    color: var(--c-text-alt);
    font-size: var(--step-5);

    strong {
      color: var(--c-red);
    }
  }

  h2 {
    color: var(--c-text-alt);
    font-size: var(--step-4);
  }

  h3 {
    font-size: var(--step-3);
  }

  h4 {
    font-size: var(--step-2);
  }

  h5 {
    font-size: var(--step-1);
  }

  /* ====---------------====
    Paragraphs
  =======------------==== */

  hr {
    --el-bg: var(--c-blue);
    height: 0.5em;

    margin-block: var(--space-m);

    background: var(--el-bg);
    border: 0;

    color: var(--el-bg);
  }

  /* ====---------------====
    Lists
  =======------------==== */
  .list-links {
    li {
      > span {
        display: block;

        font-size: 85%;
      }

      + li {
        margin-block-start: 0.25em;
      }
    }

    &--inline {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;

      li {
        + li {
          margin-block-start: 0;
        }
      }
    }

    &--breadcrumb {
      gap: 0.5rem 1.5rem;

      li {
        font-size: var(--step-1);
      }

      a {
        text-underline-offset: 0.2em;
        text-decoration-thickness: 0.2em;

        &[aria-current] {
          color: var(--c-link-hover);
        }
      }
    }
  }

  .hiking-links {
    display: flex;

    li {
      display: grid;
      place-items: center;
    }

    a {
      text-underline-offset: 0.2em;
    }

    li + li {
      a {
        margin-inline-start: var(--space-2xs);
        padding-inline-start: var(--space-2xs);

        border-inline-start: 2px solid
          color-mix(
            in oklab,
            var(--c-primary-off) 30%,
            transparent 100%
          );

        line-height: 1;
      }
    }
  }

  /* ====---------------====
    Tables
  =======------------==== */

  table {
    margin-block-start: var(--space-2xs);

    border-collapse: collapse;

    text-align: left;

    th,
    td {
      padding-inline: 0.5rem;
      border-inline-end: 1px solid
        var(--feed-border-color, var(--border-color));

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;

        border-inline-end: 0;
      }
    }

    thead {
      th,
      td {
        padding-block-end: 0.25rem;
      }

      tr {
        border-block-end: 1px solid
          var(--feed-border-color, var(--border-color));
      }
    }

    tbody {
      th,
      td {
        padding-block-start: 0.25rem;
      }

      tr + tr {
        border-block-start: 1px solid
          var(--feed-border-color, var(--border-color));
      }
    }
  }
}
