/* ------------------------------------------
======---------------------------------======
  Typography
======---------------------------------======
------------------------------------------ */

/* ====---------------====
  Headings
=======------------==== */

/* ====---------------====
  Links
=======------------==== */
a,
a:visited {
  --link-clr: var(--clr-link);

  cursor: pointer;
  color: hsl(var(--link-clr));
  line-height: 1.8;
  text-decoration: underline;
  // text-underline-offset: 0.6rem;

  transition: all var(--speed-main) ease;

  &:hover,
  &:focus {
    --link-clr: var(--clr-link-hover);

    // text-decoration-thickness: 0.4rem;
    // text-underline-offset: 0.4rem;
  }
}

/* ====---------------====
  Paragraphs
=======------------==== */
