/* ------------------------------------------
======---------------------------------======
  Base layout styles
======---------------------------------======
------------------------------------------ */

/* ====---------------====
  Content Wrappers
=======------------==== */
html,
body {
  height: 100%;
}

body {
  font: 400 var(--fs-base) / 1.5 var(--font-main);

  *::selection {
  }
}
