---
layout: layouts/base.njk
title: 404 OhnoOhnoOhno
description: Craig Fox, front-end developer, maker, and geek
---

<section class="section">
  <Seo title="💥 404: Not found" />
  <h1>404: Not Found</h1>
  <p>
    You just hit a route that doesn&#39;t exist... have a picture of my
    cats.
  </p>
  {% image
    "./src/images/kitty-apples-box.webp",
    "Kitty and Apples the most adorable cats in the world cuddling in a box together.",
    "(min-width: 30em) 50vw",
    "image-border"
  %}
</section>