---
layout: layouts/page-sidebar.njk
title: About
description: About Craig Fox, front-end developer, maker, and geek
---

<h1>I'm Craig Fox, front-end developer, maker, and geek</h1>

<p>Currently I'm working for Arkansas Blue Cross and Blue Shield as a front-end developer and I've been building websites for a bit over 10 years.</p>

<p>When building sites I try to make them usable and accessible. Over the years I've built websites using static site generators, WordPress, Vue, and React sites for companies large and small.</p>

<p>Outside of work I like to woodwork, 3d print, hike, read, and play video games.</p>

{% image
  "./src/images/kitty-apples-box.webp",
  "Kitty and Apples the most adorable cats in the world cuddling in a box together.",
  "(min-width: 30em) 50vw",
  "image-border"
%}

