---
layout: layouts/base.njk
title: Home
---

<section
  id="about"
  aria-labelledby="title-about"
  class="section section--about"
>
  <h1 id="title-about">I'm Craig Fox, front-end developer, maker, and geek</h1>
  <div>
    <p>Currently I'm working for Arkansas Blue Cross and Blue Shield as a front-end developer and I've been building websites for a bit over 10 years.</p>
    <p>When building sites I try to make them usable and accessible. Over the years I've built websites using static site generators, WordPress, Vue, and React sites for companies large and small.</p>
    <p>Outside of work I like to woodwork, 3d print, hike, read, and play video games.</p>
  </div>

  {% image
    "./src/images/craig-hiking-about.webp",
    "Craig and Becca hiking at Petit Jean Mountain",
    "(min-width: 30em) 50vw",
    "about-image"
  %}
</section>

<div class="home-grid">
  <section id="posts" class="section" aria-labelledby="title-blog">
    <header class="title-button">
      <h2 id="title-blog">Latest</h2>
      <a href="/posts" class="btn">
        View archive
      </a>
    </header>
    <ul class="list-posts">
      {%- for post in collections.post | reverse -%}
      <li>
        <time>{{ post.date | postDate }}</time>
        <a href={{ post.data.permalink }}>
          {{ post.data.title }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </section>

  <section id="work" aria-labelledby="title-work" class="section">
    <h2 id="title-work">Stuff I've done</h2>

    <div class="grid">
      {# <div>
        <h3>Projects</h3>
        <ul class="list-links">
          <li>
            <a href="https://movies.craigwfox.com">Fox moves of 2021</a>
          </li>
          <li>
            <a href="https://games.craigwfox.com">Games played</a>
          </li>
        </ul>
      </div> #}
      <div>
        <h3>Links</h3>
        <ul class="list-links">
          <li>
            <a href="https://github.com/craigwfox">Github</a>
          </li>
          <li>
            <a href="https://codepen.io/craigwfox">Codepen</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>