---
layout: layouts/base.njk
title: Home
description: Craig Fox, front-end developer, maker, and geek
---

<div class="home-grid">
  <section
    id="about"
    aria-labelledby="title-about"
    class="section section--about"
  >
    <h1 id="title-about">I'm <strong>Craig Fox</strong>, front-end developer, maker, and geek</h1>

    <div class="rounded-image">
      {% image
        "./src/images/craig-hiking-about.webp",
        "Craig and Becca hiking at Petit Jean Mountain",
        "(min-width: 30em) 50vw",
        ""
      %}
    </div>

    <h2 id="title-work">Stuff I've done</h2>
    <ul class="list-links">
      <li>
        <a href="https://github.com/craigwfox">Github</a>
      </li>
      <li>
        <a href="https://codepen.io/craigwfox">Codepen</a>
      </li>
    </ul>
  </section>

  <section id="home-posts" class="section" aria-labelledby="title-blog">
    <h2 id="title-blog">Latest</h2>

    <div class="articles-wrapper">
      {%- for post in collections.post | reverse -%}
      <article class="article">
        <a href={{ post.data.permalink }}>
          <time>{{ post.date | postDate }}</time>
          <h3>
              {{ post.data.title }}
          </h3>
          <p>{{ post.data.description }}</p>
        </a>
      </article>
      {%- endfor -%}
    </div>

    <a href="/posts" class="btn">
      View archive
    </a>
  </section>
</div>